* {
  margin: 0;
  padding: 0;
}
body {
  /*   background: #3c4f32; */
}
header,
footer {
  min-height: 100px;
  color: #fff;
  padding: 16px;
  background: #20362d;
}
header {
  display: flex;
  align-items: center;
  gap: 25px;
}
.social-link {
  height: 50px;
  width: 50px;
  display: flex;
  transition: opacity 0.3s ease;
}
.social-link:hover {
  opacity: 0.5;
}
.social-block {
  margin-left: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}
section {
  /*   border: 4px solid #96810d; */
  padding: 16px;
  margin: 16px 0;
  /*   margin-top: 35px; */
}
.interests {
  border-color: #6c4b1d;
}
.music {
  /*   background: #805a23; */
}
.movies {
  /*   background: #3e4536; */
}
.games {
  /*   background: #343a2d; */
}
.avatar {
  height: 120px;
  width: 120px;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}
h2 {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.music-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.music-item {
  width: calc(25% - 12px);
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.movies-item {
  width: calc(25% - 12px);
  aspect-ratio: 16/9;
  border-radius: 8px;
  overflow: hidden;
}
.games-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.games-item {
  overflow: hidden;
  width: calc(100%/6 - 15px);
  aspect-ratio: 6/8;
  border-radius: 8px;
  border: 1px dashed black;
  transition: all 0.3s ease;
  position: relative;
}
.games-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.games-item:hover {
  opacity: 0.7;
}
.games-item:hover img {
  filter: blur(1px);
}
.games-title {
  position: absolute;
  top: 45%;
  z-index: 2;
  opacity: 0;
}
